@import 'styles/_variables.scss';

.opened {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;

  &--closed {
    display: none;
  }

  &--opened-true {
    background-color: $color-mountain-meadow;
  }

  &--opened-false {
    background-color: $color-coral-red;
  }

  &__icon {
    width: 45%;
    height: 45%;

    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
      color: $color-white;
    }
  }
}
