@import 'styles/_variables.scss';

.primary-menu-button {
  position: relative;
  width: 32px;
  height: 32px;

  padding: 8px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;

  &:focus {
    outline: none;
  }

  &--light {
    background-color: $color-gallery;
  }

  &--dark {
    background-color: $color-mine-shaft-darker;
  }

  &--white {
    background-color: $color-white;
  }

  &--transparent-bg {
    background-color: transparent;
  }

  &__icon {
    svg {
      height: 100%;
      width: 100%;
    }

    &--light {
      color: $color-black;
      fill: currentColor;
    }

    &--dark {
      color: $color-white;
      fill: currentColor;
    }

    &--white {
      color: $color-mine-shaft;
      fill: currentColor;
    }

    &--disabled {
      color: $color-dusty-gray;
    }
  }

  &__notifications-badge {
    position: absolute;
    z-index: $zindex-dropdown;
    right: 0px;
    top: 0px;
  }
}
