@import 'styles/_variables.scss';

.league-item {
  &__wrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
  }

  &__league-name {
    font-weight: 600;
    color: $color-white;
    z-index: 1000;
  }
}
