.page-login {
  &__form {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 28px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  /*
    &__fields {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    */
  &__field {
    margin-bottom: 16px;
  }

  &__field:first-child {
    margin-top: 40%;
  }

  &__field:last-child {
    margin-bottom: 0;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
